<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="pubstr" class="java.lang.String">
		<constructor-arg value="van出版社"></constructor-arg>
	</bean>
	<bean id="book" class="cn.unicorn.myspring.spel.vo.Book">
		<property name="title" value="van游戏" />
		<property name="pub" value="#{pubstr.toUpperCase()}" />
		<property name="pubdate" value="#{new java.util.Date()}/"></property>
	</bean>
</beans>
