<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!--启用Annotation注解配置,新版本不用写 -->
	<context:annotation-config />
	<!--定义注解的扫描包,必须配置好扫描包之后才可以扫描该包中出现的注解信息 -->
	<context:component-scan base-package="cn.unicorn.myspring" />
	<!-- 配置C3P0的信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${db.driverClass}" />
		<property name="jdbcUrl" value="${db.jdbcUrl}" />
		<property name="user" value="${db.user}" />
		<property name="password" value="${db.password}" />
		<property name="maxPoolSize" value="${db.maxPoolSize}" />
		<property name="initialPoolSize" value="${db.initialPoolSize}" />
		<property name="minPoolSize" value="${db.minPoolSize}" />
		<property name="maxIdleTime" value="${db.maxIdleTime}" />
	</bean>
	<!--配置JDBCTemplate模板的处理对象,该对象如果要想使用一定要配置数据库连接 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" /><!--配置数据源 -->
	</bean>
</beans>
